body{
    position: relative;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff6f69;
    background: #ffeead;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

header, section, aside, footer {
    
    background: #88d8b0;
    /* width: 495px; */
}

nav {
    text-decoration: none;
    background: #ffeead;
    
}
header, nav, footer{
    margin: 15px;
    padding: 20px;
    width: 890px;
}

section{
    float: left;
  width: 495px;
  height: 200px;
  padding-bottom: 20px;
  margin-left: 15px;
  border: 1px;
  margin-bottom: 15px;
padding-top: 20px;
}
aside{
  float: left;
  width: 35%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  border: 1px;
  margin-bottom: 15px;
  padding-right: 47px;


}
article {
    color: #ebebeb;
    background: #777;
    width: 95%;
    margin: 15px;
    margin: 5px 0px 25px 0px;
   
    padding-bottom: 10px;

}

h1, p {
    color: #ff6f69;
    background: #ebebeb;
    margin: 15px 25px 20px 20px;
    padding: 5px;
}
h2 {
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-size: 45px;
}
footer{
    padding: 20px;
    clear: both;
    margin-top: 15px;
}

.btn-group-justified{
    color:#ff6f69
}

nav {
    margin: 0 auto;
    width: 800px;
  }
  
  nav ul {
    text-align: center;
    font-family: Arial, Verdana;
    font-size: 18px;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    height: 20px;
    width: 95px;
    margin: 0 55px 0 5px;
    white-space: nowrap;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 20px;
    background: #ffcd9b;
    color: #ff6f69;
    font: bold;

    border: solid 4px white;
  }